[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
bs4 = "*"
selenium = "*"
chromedriver-binary = "*"
lxml = "*"
flask = "*"
sqlalchemy = "*"
flask-sqlalchemy = "*"
psycopg2 = "*"
typing-extensions = "*"

[dev-packages]

[requires]
python_version = "3.9"
